opencv-python
numpy
pandas
fastapi
uvicorn
python-multipart
tqdm
scipy
pytest
pytest-asyncio
httpx
requests
mediapipe
positional-encodings
torchinfo
google-genai
python-dotenv
cachetools
sse-starlette
sendgrid
mlflow
timm>=0.9.0
